@media only screen and (max-width:1120px) {
    .sidetoc {
        display: none;
    }
}

@media only screen and (min-width:1024px) {
    main {
        position: relative;
    }

    .sidetoc {
        margin-left: auto;
        margin-right: auto;
        left: calc(100% + (var(--content-max-width))/4 - 280px);
        position: absolute;
        font-size: x-small;
    }

    .pagetoc {
        position: fixed;
        width: 200px;
        height: calc(100vh - var(--menu-bar-height) - 0.67em * 4);
        overflow: auto;
        top: 100px;
    }

    .pagetoc a {
        border-left: 1px solid #444950;
        color: var(--fg) !important;
        display: block;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        text-align: left;
        text-decoration: none;
    }

    .pagetoc a:hover,
    .pagetoc a:active {
        color: var(--sidebar-active) !important;
        text-decoration: none;
    }

    .pagetoc .pagetoc-H2 {
        padding-left: 20px;
    }

    .pagetoc .pagetoc-H3 {
        padding-left: 40px;
    }

    .pagetoc .pagetoc-H4 {
        padding-left: 60px;
    }

    .pagetoc .pagetoc-H5 {
        display: none;
    }

    .pagetoc .pagetoc-H6 {
        display: none;
    }
}